*.log
*.pkl
.idea
test/debug.log
__pycache__
code/dnn_models/yolov3_608.weights
android_app/.gradle/
android_app/build/
android_app/app/build/
last_used_config.ini

.claude/settings.local.json
temp/*
code/obsolite_junk_box/GPMD2CSV_extract_gopro_sensor_data/gopro2json.exe
code/obsolite_junk_box/GPMD2CSV_extract_gopro_sensor_data/gpmdinfo.exe
